<h1 style="text-align: center !important;" class="mt-4">Dashboard</h1>
<p style="text-align: center !important;" class="lead mb-3">Welcome <%= user.name %></p>
<a style="margin: 0 46% !important;"href="/users/logout" class="btn btn-secondary">Logout</a>
