<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h2><i class="fab fa-js fa-3x" style="color: yellow !important;"></i></h2>
      <p>Welcome fellow visitor. To get started create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-primary btn-block">Login</a>
    </div>
  </div>
</div>
